<mat-card>
  <mat-card-content>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Request Method</mat-label>
            <mat-select [(value)]="selectedRequestMethod">
              <mat-option *ngFor="let method of requestMethods" [value]="method">
                {{ method }}
              </mat-option>
            </mat-select>  
          </mat-form-field>
        </div>
        <div class="col-md-9">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>API Endpoint</mat-label>
            <input type="url" matInput placeholder="Type URL here!" [(ngModel)]="endpoint">
            <span *ngIf="endpointError != ''" style="color: red"> {{ endpointError }} </span>
          </mat-form-field>
        </div>
      </div>

      <section *ngIf="selectedRequestMethod == 'POST'">
        <mat-tab-group>
          <mat-tab label="Body">
            <div class="container-fluid" style="padding: 1rem;">
              <div class="row">
                <div class="col-md-4">
                  <strong>Key</strong>
                </div>
                <div class="col-md-4">
                  <strong>Value</strong>
                </div>
                <div class="col-md-3">
                  <strong>Data Type</strong>
                </div>
              </div>
            </div>
            <div *ngFor="let item of requestBody; let i = index" class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="w-100">
                    <input matInput [(ngModel)]="item.key">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field *ngIf="requestBodyDataTypes[i] !== 'Boolean'" class="w-100">
                    <input [type]="requestBodyDataTypes[i].toLowerCase()"
                    matInput
                    [disabled]="requestBodyDataTypes[i] === ''"
                    [(ngModel)]="item.value"
                    #value="ngModel">
                  </mat-form-field>
                  <mat-form-field *ngIf="requestBodyDataTypes[i] === 'Boolean'" class="w-100">
                    <mat-label>Value</mat-label>
                    <mat-select [disabled]="requestBodyDataTypes[i] == ''" [(value)]="item.value">
                      <mat-option value="true">True</mat-option>
                      <mat-option value="false">False</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class=w-100>
                    <mat-label>Data Type</mat-label>
                    <mat-select [(value)]="requestBodyDataTypes[i]">
                      <mat-option *ngFor="let type of dataTypes" [value]="type"> {{ type }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-1">
                  <button mat-button color="warn" class="d-block mx-auto" style="outline: none;" (click)="removeItem(i)">
                    <i class="material-icons">highlight_off</i>
                  </button>
                </div>
              </div>
            </div>
            <button mat-flat-button
              color="accent"
              [disabled]="isAddDisabled()"
              style="outline:none;"
              (click)="addItem()">
              ADD ITEM
            </button>
          </mat-tab>
        </mat-tab-group>
      </section>

      <button mat-flat-button
       color="primary"
       [disabled]="!endpoint" 
       (click)="sendRequest()">
        SEND
      </button>
      
      <div class="w-100" class="spinner-container">
        <mat-progress-spinner
          *ngIf="isLoading"
          class="d-block mx-auto"
          color="accent"
          mode="indeterminate"
        ></mat-progress-spinner>
        <pre *ngIf="responseData" class="response-data">{{ responseData }}</pre>
        <pre *ngIf="responseError" class="response-error">{{ responseError }}</pre>
      </div>

    </div>
  </mat-card-content>
</mat-card>